{% from "_book.html" import render_book_inline_script %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% set description = " ".join([
        "Read and search for all translations of Touhou doujinshi and manga.",
        "Filter by Touhou character, title, tags, artists, and language.",
    ]) %}
    <meta name="description" content="{% block description %}{{ description }}{% endblock %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <title>{% block title %} ... {% endblock %} | Touhou Doujinshi Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='modern-normalize.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='sakura.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css"/>
    <link rel="sitemap" type="application/xml" href="/sitemap.xml"/>
    <meta property="og:title" content="{{ self.title() | trim }}"/>
    <meta property="og:site_name" content="Touhou Doujinshi Index"/>
    {% block head %}
    {% endblock %}
</head>
<body>
<header style="text-align: center; margin: 3rem 0 2rem;">
    <h1 style="margin: 0;">
        <a href="/">Touhou Doujinshi Index</a>
    </h1>
    <div style="margin: 1rem;">
        <a href="{{ url_for('route_index') }}">Search</a> •
        <a href="{{ url_for('route_popular') }}">Popular</a> •
        <a href="{{ url_for('route_recipes') }}">Recipes</a> •
        <a href="{{ url_for('route_about') }}">About</a>
    </div>
</header>
<main>
    {% block body %}
    {% endblock %}
    {{ render_book_inline_script() }}
</main>
<hr/>
<footer style="margin: 2rem 0; text-align: center;">
    <div data-nosnippet style="max-width: 64rem; margin: auto;">
        The Touhou Doujinshi Index is made by <a href="https://nsk.sh/">Nanoskript</a>
        of <a href="https://sanaesbread.moe/">Sanae's Bread Scans</a>.
        This site collects links to other sites where doujinshi can be read.
        このサイトは東方同人誌を読める他のサイトのリンクを集めます。
    </div>
    <div>
        <small style="color: dimgrey;">
            Database was last updated {{ database_last_modified | age }}.
        </small>
    </div>
</footer>
</body>
</html>
