{% macro render_book(book) %}
    <section class="book-container">
        <figure class="book-container-thumbnail">
            <div class="book-container-thumbnail-box">
                <img src="{{ url_for('route_thumbnail', key=book.thumbnail_id) }}"/>
            </div>
        </figure>
        <h3 class="book-container-title">
            <a href="/book/{{ book.entries[0].id }}" rel="nofollow">
                {{ book.title | safe }}
            </a>
        </h3>
        <div class="book-container-main">
            {% if book.tags or book.characters %}
                <div>
                    {% for tag in book.tags %}
                        <div class="tag tag-general">
                            <a href="{{ url_for('route_index', include_tags=tag) }}" rel="nofollow">
                                {{ tag }}
                            </a>
                        </div>
                    {% endfor %}
                    {% for character in book.characters %}
                        <div class="tag tag-character">
                            <a href="{{ url_for('route_index', include_characters=character) }}" rel="nofollow">
                                {{ character }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if book.descriptions %}
                <div style="display: flex; flex-direction: column;">
                    {% for description in book.descriptions %}
                        <details class="description-box">
                            <summary>{{ description.name }}</summary>
                            {{ description.details | safe }}
                        </details>
                    {% endfor %}
                </div>
            {% endif %}
            <div style="display: flex; flex-direction: column; gap: 0.5rem; width: 100%;">
                {% for entry in book.entries %}
                    <div class="entry-box">
                        <div>
                            {% if entry.url %}
                                <a href="{{ entry.url }}" rel="nofollow">
                                    {{ entry.title | safe }}
                                </a>
                            {% else %}
                                {{ entry.title | safe }}
                            {% endif %}
                        </div>
                        <div>
                            {% if entry.language %}
                                <b>{{ entry.language }}</b>
                            {% else %}
                                <b>Metadata</b>
                            {% endif %} •
                            <b>{{ entry | entry_readable_source }}</b>
                            {% if entry.page_count %}
                                • <b>{{ pluralize(entry.page_count, "page") }}</b>
                            {% endif %}
                            {% if entry.date %}
                                •
                                <time datetime="{{ entry.date }}"
                                      title="{{ entry.date.strftime('%-d %B %Y') }}">
                                    <b>{{ entry.date | age }}</b>
                                </time>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endmacro %}
