{% macro render_pagination(route, page, total) %}
    {% set spread_size = 1 %}
    {% set spread_start = [1, page - spread_size] | max %}
    {% set spread_end = [[page + spread_size, total] | min, 1] | max %}

    {% macro page_number(number) %}
        {% if page == number %}
            <input name="page" type="number" placeholder="{{ number }}"
                   min="{{ 1 }}" max="{{ total }}" required
                   class="pagination-input" style="flex-basis: 6rem;"/>
        {% else %}
            <a href="{{ url_with('route_index', page=number) }}" class="pagination-link">
                {{ number }}
            </a>
        {% endif %}
    {% endmacro %}

    <form action="/" method="get">
        {% for key, value in request.args.items(multi=True) %}
            {% if key != "page" %}
                <input type="hidden" name="{{ key }}" value="{{ value }}"/>
            {% endif %}
        {% endfor %}

        <nav class="pagination">
            {% if 1 < page %}
                <a class="pagination-link" href="{{ url_with('route_index', page=page - 1) }}">←</a>
            {% else %}
                <span class="pagination-link">←</span>
            {% endif %}
            {% if 1 < spread_start %}
                {{ page_number(1) }}
            {% endif %}
            {% if 1 < spread_start - 1 %}
                <span class="pagination-link">…</span>
            {% endif %}
            {% for i in range(spread_start, spread_end + 1) %}
                {{ page_number(i) }}
            {% endfor %}
            {% if spread_end + 1 < total %}
                <span class="pagination-link">…</span>
            {% endif %}
            {% if spread_end < total %}
                {{ page_number(total) }}
            {% endif %}
            {% if page < total %}
                <a class="pagination-link" href="{{ url_with('route_index', page=page + 1) }}">→</a>
            {% else %}
                <span class="pagination-link">→</span>
            {% endif %}
        </nav>
    </form>
{% endmacro %}
