{% extends "_base.html" %}
{% from "_book.html" import render_book %}
{% from "_pagination.html" import render_pagination %}

{% block title %}
    Page {{ page }}
{% endblock %}

{% block head %}
    <meta property="og:description" content="{{ pluralize(total_books, "result") }}."/>
    {% if books %}
        <meta property="og:image" content="{{ url_for('route_thumbnail', key=books[0].thumbnail_id) }}"/>
    {% endif %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "Touhou Doujinshi Index",
            "url": "https://scarlet.nsk.sh/"
        }
    </script>
{% endblock %}

{% macro language_selector(name) %}
    <select name="{{ name }}" class="form-control">
        <option></option>
        {% for group, strings in languages %}
            <optgroup label="{{ group }}">
                {% for string in strings %}
                    <option {{ "selected" if string == request.args[name] }}>
                        {{ string }}
                    </option>
                {% endfor %}
            </optgroup>
        {% endfor %}
    </select>
{% endmacro %}

{% block body %}
    <form style="margin-top: 2rem;" action="/" method="get">
        <div style="display: flex; gap: 1rem;">
            <input name="title" class="form-control" placeholder="Search by title" value="{{ request.args.title }}"/>
            <button type="Submit">Search</button>
        </div>
        <details style="margin: 1rem 0 2rem;">
            <summary>
                <span>
                    Advanced options
                    {% if selected_count %}
                        <b>({{ selected_count }})</b>
                    {% endif %}
                </span>
                <b style="float: right;">
                    {{ pluralize(total_books, "result") }}.
                </b>
            </summary>
            <div class="advanced-options-controls">
                <div>
                    <label>Only include entries in this language:</label>
                    {{ language_selector("language") }}
                    <small class="form-control-help">
                        For example, selecting <code>English</code> will only show links to English translations.
                    </small>
                </div>
                <div>
                    <label>Include these tags:</label>
                    <input name="include_tags" value="{{ request.args.include_tags }}"
                           class="form-control"/>
                    <small class="form-control-help">
                        For example, <code>yuri</code> will only show results tagged with Yuri or Girls' Love.
                    </small>
                </div>
                <div>
                    <label>Include these characters:</label>
                    <input name="include_characters" value="{{ request.args.include_characters }}"
                           class="form-control"/>
                    <small class="form-control-help">
                        For example, <code>alice marisa</code> will only show results tagged with both Alice Margatroid
                        and Kirisame Marisa.
                    </small>
                </div>
                <div>
                    <label>Hide entries on these websites:</label>
                    <div class="checklist">
                        {% for key, name in sources.items() %}
                            <label>
                                <input type="checkbox" name="exclude_source" value="{{ key }}"
                                        {{ "checked" if key in request.args.getlist("exclude_source") }}/>
                                {{ name }}
                            </label>
                        {% endfor %}
                    </div>
                    <small class="form-control-help">
                        For example, selecting <code>EH</code> will hide links to EH but show links to other sites.
                    </small>
                </div>
                <div>
                    <label>Exclude results with entries on these websites:</label>
                    <div class="checklist">
                        {% for key, name in sources.items() %}
                            <label>
                                <input type="checkbox" name="exclude_on_source" value="{{ key }}"
                                        {{ "checked" if key in request.args.getlist("exclude_on_source") }}/>
                                {{ name }}
                            </label>
                        {% endfor %}
                    </div>
                    <small class="form-control-help">
                        For example, selecting <code>Dynasty Scans</code> will hide results that contain any links to
                        Dynasty Scans. Use these options if you've read everything on particular sites.
                    </small>
                </div>
                <div>
                    <label>Exclude results with translations in this language:</label>
                    {{ language_selector("exclude_on_language") }}
                    <small class="form-control-help">
                        For example, selecting <code>English</code> will exclude any results that have English
                        translations. Use this option to find untranslated works.
                    </small>
                </div>
                <div>
                    <label>Show results that only contain metadata entries:</label>
                    <div class="checklist">
                        <label>
                            <input type="checkbox" name="include_metadata_only"
                                    {{ "checked" if request.args["include_metadata_only"] }}/>
                            Show metadata-only results
                        </label>
                    </div>
                    <small class="form-control-help">
                        Enabling this option will include results that do not have any translations.
                        This includes every result with an entry on doujinshi.org.
                    </small>
                </div>
            </div>
        </details>
    </form>
    <div style="display: flex; flex-direction: column; gap: 2.5rem;">
        {% for book in books %}
            {{ render_book(book) }}
        {% endfor %}
    </div>
    {{ render_pagination('route_index', page, total_pages) }}
{% endblock %}