{% extends "_base.html" %}

{% block title %}
    Recipes
{% endblock %}

{% block body %}
    <section>
        <h2>Recipes</h2>
        <dl>
            <dt>
                <a href="{{ url_for('route_index', q='language:english') }}">
                    Show only English translations
                </a>
            </dt>
            <dd class="recipe-explanation">
                <ul>
                    <li>
                        Specifying <code>language:english</code> will only show links to translations in
                        English.
                    </li>
                </ul>
            </dd>
            <dt>
                <a href="{{ url_for('route_index', q='language:english character:alice character:marisa') }}">
                    Show only English translations that have Alice and Marisa
                </a>
            </dt>
            <dd class="recipe-explanation">
                <ul>
                    <li>
                        Specifying <code>language:english</code> will only show links to translations in
                        English.
                    </li>
                    <li>
                        Specifying <code>character:alice</code> and <code>character:marisa</code>
                        will only include results that have both Alice and Marisa as character tags.
                    </li>
                </ul>
            </dd>
            <dt>
                <a href="{{ url_for('route_index', q='language:english', exclude_source=["db"]) }}">
                    Show only English translations that have been typeset
                </a>
            </dt>
            <dd class="recipe-explanation">
                <ul>
                    <li>
                        Specifying <code>language:english</code> will only show links to translations in
                        English.
                    </li>
                    <li>
                        Specifying <code>Danbooru</code> in the hidden websites list will hide links to Danbooru (which
                        does not host typeset translations).
                    </li>
                </ul>
            </dd>
            <dt>
                <a href="{{ url_for('route_index', q='language:english', exclude_on_source=["ds"]) }}">
                    Show works with English translations that aren't on Dynasty Scans
                </a>
            </dt>
            <dd class="recipe-explanation">
                <ul>
                    <li>
                        Specifying <code>language:english</code> will only show links to translations in
                        English.
                    </li>
                    <li>
                        Specifying <code>Dynasty Scans</code> in the excluded websites list will hide results that
                        contain any links to Dynasty Scans.
                    </li>
                </ul>
            </dd>
            <dt>
                <a href="{{ url_for('route_index', q='english', exclude_on_source=["eh", "ds", "md"]) }}">
                    Find translated works on Danbooru that have not been typeset
                </a>
            </dt>
            <dd class="recipe-explanation">
                <ul>
                    <li>
                        Specifying <code>language:english</code> will only show links to translations in
                        English.
                    </li>
                    <li>
                        Specifying <code>EH</code>, <code>Dynasty Scans</code>, and <code>MangaDex</code> in the
                        excluded websites list will hide results that contain any links to English translations on EH,
                        Dynasty Scans, or MangaDex (where typeset works can be found).
                    </li>
                </ul>
            </dd>
            <dt>
                <a href="{{ url_for('route_index', q='language:japanese', exclude_on_language='English') }}">
                    Find works that do not have any English translations yet
                </a>
            </dt>
            <dd class="recipe-explanation">
                <ul>
                    <li>
                        Specifying <code>language:japanese</code> will only show links to raws.
                    </li>
                    <li>
                        Specifying <code>English</code> for the excluded language option will hide results that contain
                        any links to English translations.
                    </li>
                </ul>
            </dd>
            <dt>
                <a href="{{ url_for('route_book', key='ds-the_sparrows_midnight_dinning_ex_the_okamis_day') }}">
                    Stir-fried bean sprouts
                </a>
            </dt>
            <dd class="recipe-explanation">
                <ul>
                    <li>
                        N/A.
                    </li>
                </ul>
            </dd>
        </dl>
    </section>
{% endblock %}
